:root {
  --heading-color: hsl(223, 47%, 23%);
  --text-color: hsl(224, 23%, 55%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --bright-blue: hsl(245, 75%, 52%);
  --pale-blue: hsl(225, 100%, 94%);
  --border-radius: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  color: var(--text-color);
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: var(--pale-blue);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 5rem;
  min-height: 100vh;
  padding: 12px;
}

.order-summary-component {
  max-width: 350px;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 5px 5px 50px hsl(245, 85%, 92%);
  background-color: hsl(225, 100%, 100%);
}

.main-content {
  text-align: center;
  padding: 20px;

  display: flex;
  flex-flow: column wrap;
  gap: 28px;
}

@media screen and (min-width: 500px) {
  .order-summary-component {
    max-width: 375px;
  }

  .main-content {
    padding: 30px;
  }
}

.title,
.plan-type {
  color: var(--heading-color);
}

.title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 900;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--very-pale-blue);
  border-radius: var(--border-radius);
  padding: 20px;
}

.pricing > .content {
  margin-right: auto;
}

.plan-type {
  font-weight: 900;
}

.change-btn {
  transition: 0.3s;
  font-weight: 700;
  padding: 10px 0;
}

.change-btn:hover {
  text-decoration: none;
  color: hsl(245, 75%, 62%);
}

.btn {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 14px;
  transition: 0.3s;
  font-weight: 700;
}

.payment-btn {
  background-color: var(--bright-blue);
  border-radius: 12px;
  color: var(--very-pale-blue);
  box-shadow: 0 5px 25px hsl(245, 75%, 72%);
}

.payment-btn:hover {
  background-color: hsl(245, 75%, 62%);
}

.cancel-btn {
  color: inherit;
  padding: 0;
}

.cancel-btn:hover {
  color: var(--heading-color);
}
